<section class="sec-event">
  <div class="flor-wrap">
    <img
      src="assets/images/Flor-azul-con-dorado-2.webp"
      alt=""
      class="flor-left"
    />
    <img
      src="assets/images/Flor-azul-con-dorado-1-e1753722077798.webp"
      alt=""
      class="flor-right"
    />
  </div>
  <div class="event-icon">
    <svg
      viewBox="0 0 80 80"
      width="80"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M40 8v12M34 14h12"
        stroke="var(--azul-oscuro)"
        stroke-width="2.5"
        stroke-linecap="round"
      />
      <path
        d="M20 70V40l20-14 20 14v30H20z"
        stroke="var(--azul-oscuro)"
        stroke-width="2.5"
        stroke-linejoin="round"
      />
      <rect
        x="33"
        y="50"
        width="14"
        height="20"
        stroke="var(--azul-oscuro)"
        stroke-width="2"
      />
    </svg>
  </div>
  <div class="info-box">
    <h2>Ceremonia</h2>
    <h3>Parroquia de San José de Nazareth</h3>
    <p>Cra. 1 #7-116 Barrio Nazareth, Garzón</p>
    <p><strong>6:00 p.m.</strong></p>
    <a
      href="https://maps.app.goo.gl/pgzPv4nUcpPyMQBS9"
      target="_blank"
      rel="noopener"
      class="btn-gold"
      >Ver mapa</a
    >
  </div>
</section>
