.sec-hero {
  padding: 0;
  position: relative;
}

.hero-photo {
  width: 100%;
  display: block;
  object-fit: cover;
}

.hero-shape {
  position: absolute;
  width: 100%;
  bottom: -1px;
  transform: rotate(180deg);

  svg {
    width: calc(300% + 1.3px);
    height: 5rem;
    display: block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
}

.elementor-shape-fill {
  fill: #fff;
  transform: rotateY(0deg);
  transform-origin: center;
}
