<section class="sec-memories">
  <div class="flor-wrap">
    <img
      src="assets/images/Flor-azul-con-dorado-1-e1753722077798.webp"
      alt=""
      class="flor-left"
      style="transform: scaleX(-1)"
    />
    <img
      src="assets/images/Flor-azul-con-dorado-2.webp"
      alt=""
      class="flor-right"
    />
  </div>
  <div class="info-box">
    <h2>Recuerdos</h2>
    <h3>Compartidos</h3>
    <p>
      Escanea este QR o haz clic en el botón para subir todas las fotos a un
      mismo álbum.
    </p>
    <img
      src="assets/images/QR-FALSO-300x300.jpg"
      alt="QR álbum de fotos"
      class="qr-img"
      width="135"
      height="135"
      loading="lazy"
    />
    <a
      href="https://photos.google.com/u/0/albums?hl=es"
      target="_blank"
      rel="noopener"
      class="btn-gold"
    >
      Álbum de fotos
    </a>
  </div>
</section>
