<section class="sec-notes">
  <div class="flor-wrap">
    <img src="assets/images/Flor-azul-con-dorado-1-e1753722077798.webp" alt="" class="flor-left" style="transform:scaleX(-1)">
    <img src="assets/images/Flor-azul-con-dorado-2.webp" alt="" class="flor-right">
  </div>
  <div class="info-box">
    <h2>Notas</h2>
    <h3>¡Fiesta para adultos!</h3>
    <p>
      Con cariño, hemos pensado esta celebración para adultos, para que puedan disfrutar
      con total tranquilidad. Los invitamos a elegir con anticipación a su conductor elegido.
    </p>
  </div>
</section>
