<section class="sec-notes">
  <div class="flor-wrap-2">
    <img src="assets/images/flor-1.png" alt="" class="flor-left" />
    <img
      src="assets/images/flor-2.png"
      alt=""
      class="flor-right"
      style="transform: scaleX(-1)"
    />
  </div>
  <div class="info-box">
    <div class="icon">
      <svg
        aria-hidden="true"
        class="e-font-icon-svg e-fas-sticky-note"
        viewBox="0 0 448 512"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M312 320h136V56c0-13.3-10.7-24-24-24H24C10.7 32 0 42.7 0 56v400c0 13.3 10.7 24 24 24h264V344c0-13.2 10.8-24 24-24zm129 55l-98 98c-4.5 4.5-10.6 7-17 7h-6V352h128v6.1c0 6.3-2.5 12.4-7 16.9z"
        ></path>
      </svg>
    </div>
    <h2 class="title">Notas</h2>
    <h3 class="subtitle">¡Fiesta para adultos!</h3>
    <p class="parrafo">
      Para que todos nuestros invitados puedan disfrutar y relajarse al máximo,
      hemos preparado una recepción exclusivamente para adultos. Agradecemos
      mucho su comprensión.
    </p>
  </div>
</section>
