<div class="container-countdown">
  <div scrollAnimate="zoom-in" class="sec-countdown">
    <div class="countdown-grid">
      <div class="countdown-item">
        <span class="count-num">{{ timeLeft().dias }}</span>
        <span class="count-label">Días</span>
      </div>
      <div class="countdown-item">
        <span class="count-num">{{ timeLeft().hrs }}</span>
        <span class="count-label">Hrs</span>
      </div>
      <div class="countdown-item">
        <span class="count-num">{{ timeLeft().mins }}</span>
        <span class="count-label">Mins</span>
      </div>
      <div class="countdown-item">
        <span class="count-num">{{ timeLeft().segs }}</span>
        <span class="count-label">Segs</span>
      </div>
    </div>
  </div>
</div>
