<section class="sec-names">
  <h1 scrollAnimate="fade-down" class="font-script names-title">Carlos &amp; Valentina</h1>
  <div scrollAnimate="fade-up" [animDelay]="100" class="container-fecha">
    <p class="wedding-date">10 | Octubre | 26</p>
  </div>
  <div scrollAnimate="fade-up" [animDelay]="200" class="divider">· · ·</div>
  <div scrollAnimate="fade-up" [animDelay]="300" class="info-box">
    <h2>¡Nos casamos!</h2>
    <p>
      Hoy elegimos reafirmar y sellar nuestro amor ante Dios, y nos encantaría
      que seas parte de este bendecido y maravilloso día donde comenzaremos
      nuestro…
    </p>
    <p class="frase-final">
      "Felices para siempre"<br />
      ♾️ Dios con nosotros ♾️
    </p>
  </div>
</section>
