.sec-names {
  text-align: center;
  padding-top: 1.5rem;

  .names-title {
    font-size: 4em;
    color: var(--dorado);
    line-height: 1.1;
    margin: 0.5rem 0 0.3rem;
    font-weight: normal;
  }
  .wedding-date {
    font-family: "Lora", Sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--azul-oscuro);
    letter-spacing: 3px;
  }
  .frase-final {
    font-style: italic;
    color: var(--azul-oscuro);
    margin-top: 0.8rem;
  }
  h2 {
    color: var(--dorado-claro);
    font-weight: normal;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

.info-box {
  font-family: "Cormorant", serif;

  h2 {
    font-size: 2.8em;
    font-weight: 600;
    color: var(--dorado);
  }

  p {
    font-family: "Lora", serif;
    font-size: 1.2rem;
    color: var(--azul-oscuro);
    line-height: 1.5;
    margin-bottom: 1rem;
  }
}

.container-fecha {
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 2vw 5vw 2vw 5vw;
  border-radius: 3rem 3rem 3rem 3rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  width: max-content;
}
