.sec-dresscode {
  text-align: center;

  .dress-grid {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 3rem 0;
  }
  .dress-item {
    img {
      height: 250px;
      display: block;
      margin: 0 auto 0.5rem;
    }
    .dress-title {
      text-align: center;
      font-weight: 600;
      font-size: 0.9rem;
      color: var(--azul-oscuro);
    }
  }
  .reserved-colors {
    .subtitle {
      margin-bottom: 0.5rem;
    }
    .reserved-note {
      font-size: 1.1em;
      color: #666;
      font-family: "Lora", Sans-serif;
    }
    .color-chips {
      display: flex;
      justify-content: center;
      gap: 0.8rem;
      margin: 2rem 0;
    }
    .chip {
      display: inline-block;
      width: 67px;
      height: 67px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      &--white {
        background: #fff;
        border: 1px solid #ccc;
      }
      &--dark {
        background: #112457;
      }
    }
  }
}
