<section class="sec-calendar">
  <div class="flor-wrap">
    <img src="assets/images/Flor-azul-con-dorado-2.webp" alt="" class="flor-left">
    <img src="assets/images/Flor-azul-con-dorado-1-e1753722077798.webp" alt="" class="flor-right">
  </div>
  <div class="info-box">
    <h2>Agéndate</h2>
    <h3>Google Calendar</h3>
    <p>¡Guarda en tu calendario esta fecha tan especial para que nos acompañes!</p>
    <a
      href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MTJvOTlnYTd2bjJuNDg1cDlhanVrMThtYWYgZ3VldmFyYW1vamljYTExQG0&tmsrc=guevaramojica11%40gmail.com"
      target="_blank" rel="noopener"
      class="btn-gold"
    >
      Agendarme
    </a>
  </div>
</section>
