<div class="video-wrap sec-video">
  <app-mountain-divider class="mountain-top" />
  <video
    #videoEl
    src="assets/videos/propuesta.mp4"
    muted
    loop
    playsinline
    class="video-bg"
  ></video>
  <app-mountain-divider-down class="mountain-buttom" />
  <div class="video-overlay"></div>
</div>
<app-card>
  <p class="parrafo">
    Amor mío,<br />
    A veces me detengo a pensar en cómo el destino escribe sus capítulos. En
    cómo, entre tantas páginas en blanco, decidió escribirte a ti en la historia
    de mi vida. Y no como un personaje pasajero, sino como la protagonista de
    cada uno de mis días. Desde que llegaste, todo tiene sentido. Como si el
    universo hubiera estado esperando el momento exacto para cruzar nuestros
    caminos. Como si cada paso que di antes de ti solo hubiera sido el prólogo
    de algo mucho más hermoso. Tú eres esa historia que no me canso de leer. Esa
    que me hace sonreír incluso en los días grises. Gracias por ser mi capítulo
    favorito. Por ser mi destino, mi alegría y mi nuevo hogar.
  </p>
</app-card>
