<div class="animacion">
  <app-regalo />
</div>
<section class="sec-gifts">
  <div class="flor-wrap-2">
    <img src="assets/images/flor-1.png" alt="" class="flor-left" />
    <img
      src="assets/images/flor-2.png"
      alt=""
      class="flor-right"
      style="transform: scaleY(-1) scaleX(-1)"
    />
  </div>
  <app-card scrollAnimate="fade-up" title="Regalos" subtitle="Lluvia de Sobres">
    <div class="info-box">
      <p class="parrafo">
        Tu presencia es el mejor regalo pero, si deseas tener un detalle con
        nosotros, lluvia de sobres será bienvenida.
      </p>
    </div>
  </app-card>
</section>
